
  body{ color:paleturquoise;
   font-family: sans-serif ;
     
   h1{
      font-size: 35px;
   }
 * 
   
    font-size: 20px;
    background-color:default;
 
 .logo{
    height: 300px;

 }
}